.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 70vw;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.horizontalCard {
    width: 70vw;
    background-color: white;
    color: black;
    font-size: 15px;
    border-bottom: 1px solid grey;

    display: flex;
    justify-content: space-around;
}

.cardHeader {
    width: 70vw;
    background-color: white;
    color: rgb(124, 124, 124);
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.red {
    color: rgb(193, 64, 64);
}

.total {
    color: #A8C7C3;
}

@media screen and (max-width: 1050px) {
    .horizontalCard {
        width: 100vw;
    }
    .cardHeader {
        width: 100vw;
    }
}

@media screen and (max-width: 710px) {
    .horizontalCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .horizontalCard {
        width: 80vw;
    }
    .cardHeader {
        width: 80vw;
    }
}

