.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.chartsContainer {
    width: 30vw;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1050px) {
    .chartsContainer {
        width: 50vw;
    }
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
    }
    .chartsContainer {
        width: 90vw;
    }
}

