.header {
    margin: 0;
    width: 100vw;
    height: 15vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #172121;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #F5F4F5;
    font-size: 50px;
}